//- Стандартный шаблон страницы

include mixins.pug

doctype html
html.page(lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.min.css')

  body
    block header
      p «Шапка»
    block content
      p Содержимое страницы
    block footer
      p «Подвал»

    block page-bottom
      script(src='js/script.min.js')
