.card {
  position: relative;
  width: 320px;
  margin-bottom: 15px;

  @media(min-width: $screen-md) {
    margin-left: 40px;
    margin-right: 40px;
  }

  &__inner {
    position: relative;
    padding: 20px 16px 0 48px;
    height: 480px;
    cursor: pointer;
  }

  &__top-text {
    margin: 0;
    font-size: 16px;
    color: $gray;

    .card[state='disabled'] & {
      color: $color-disabled;
    }

    &:last-of-type {
      display: none;
      color: $color-selected-lighter;
    }

    body.no-mobile .hoverable[state='selected'] .card__inner:hover &:first-of-type {
      display: none;
    }

    body.no-mobile .hoverable[state='selected'] .card__inner:hover &:last-of-type {
      display: block;
    }
  }

  &__heading {
    margin-top: 10px;
    margin-left: -2px;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1;
    color: $black;

    .card[state='disabled'] & {
      color: $color-disabled;
    }
  }

  &__small-heading {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 24px;
    color: $black;

    .card[state='disabled'] & {
      color: $color-disabled;
    }
  }

  &__desc {
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
  }

  &__desc-item {
    font-size: 14px;
    color: $gray;

    .card[state='disabled'] & {
      color: $color-disabled;
    }
  }

  &__weight {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    width: 81px;
    height: 81px;
    background-color: $color-main;
    border-radius: 50%;

    .card[state='disabled'] & {
      background-color: $color-disabled;
    }

    body.no-mobile .hoverable[state='enabled'] .card__inner:hover & {
      background-color: $color-main-lighter;
    }

    .card[state='selected'] & {
      background-color: $color-selected;
    }

    body.no-mobile .hoverable[state='selected'] .card__inner:hover & {
      background-color: $color-selected-lighter;
    }
  }

  &__weight-digits {
    margin: 0;
    font-size: 42px;
    line-height: 1;
  }

  &__weight-units {
    margin: -2px 0 0;
    font-size: 21px;
    line-height: 1;
  }

  &__img {
    position: absolute;
    z-index: -1;
    left: 4px;
    bottom: 4px;
    border-bottom-left-radius: 8px;

    .card[state='disabled'] & {
     opacity: 0.5;
    }
  }

  &__bottom-text {
    margin: 14px 0;
    font-size: 13px;
    text-align: center;

    .card[state='disabled'] & {
      color: $color-warning;
    }

    span {
      color: $color-main;
    }

    i {
      font-style: normal;
      border-bottom: 1px dashed $color-main;
      cursor: pointer;

      body.no-mobile &:hover {
        color: $color-main-lighter;
      }
    }
  }

  &__bgr {
    position: absolute;
    top: 0;
    z-index: -2;
    stroke: $color-main;
    stroke-width: 4;
    fill: $lightest-gray;

    .card[state='disabled'] & {
      stroke: $color-disabled;
    }

    body.no-mobile .hoverable[state='enabled'] .card__inner:hover ~ & {
      stroke: $color-main-lighter;
    }

    .card[state='selected'] & {
      stroke: $color-selected;
    }

    body.no-mobile .hoverable[state='selected'] .card__inner:hover ~ & {
      stroke: $color-selected-lighter;
    }
  }
}
