//- Все примеси в этом файле должны начинаться c имени блока (products)

mixin products(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +products('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' products--' + modsList[i].trim();
      }
    }

  main.products(class=allMods)&attributes(attributes)
    h1.products__heading Ты сегодня покормил кота?
    +card(
      'Нямушка',
      'с фуа-гра',
      [
        '<strong>10</strong> порций',
        'мышь в подарок'
      ],
      '0,5',
      'кг',
      'Сказочное заморское яство',
      'Ты сегодня покормил кота?',
      'Чего сидишь? Порадуй котэ, <span>купи.</span>',
      'Печень утки разварная с артишоками.'
    )
    +card(
      'Нямушка',
      'с рыбой',
      [
        '<strong>40</strong> порций',
        '2 мыши в подарок'
      ],
      '2',
      'кг',
      'Сказочное заморское яство',
      'Ты сегодня покормил кота?',
      'Чего сидишь? Порадуй котэ, <span>купи.</span>',
      'Головы щучьи с чесноком да свежайшая сёмгушка.'
    )
    +card(
      'Нямушка',
      'с курой',
      [
        '<strong>100</strong> порций',
        '5 мышей в подарок',
        'заказчик доволен'
      ],
      '5',
      'кг',
      'Сказочное заморское яство',
      'Ты сегодня покормил кота?',
      'Чего сидишь? Порадуй котэ, <span>купи.</span>',
      'Филе из цыплят с трюфелями в бульоне.'
    )