html {
  //background: url(../img/default.png) no-repeat 50% 0;
}

body {
  //opacity: 0.5;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;

  &__heading {
    flex-basis: 100%;
    margin-bottom: 23px;
    text-align: center;
  }

  &__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

