extends pug/layout.pug

block meta
  title Покормил кота
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header

block content
  +products()

block footer

block page-bottom

